body {
  margin: 0;
}

p, h1, h2, h3, h4, h5, a {
  font-family: "HelveticaNeue";
}

#banner1, #banner3, #banner4 {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../HelveticaNeue-LightExt.woff);
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(../HelveticaNeue-MediumExt.woff);
}
@font-face {
  font-family: "Helvetica-light";
  src: url(../helvetica-light.woff);
}
.social_icons {
  display: flex;
  margin-top: 0.5rem;
}
@media (max-width: 767px) {
  .social_icons {
    justify-content: center;
  }
}
.social_icons a {
  background-size: contain;
  height: 30px;
  width: 30px;
  margin-right: 1rem;
}
.social_icons .in {
  background-image: url("../images/in.png");
}
.social_icons .vimeo {
  background-image: url("../images/vimeo.png");
}
.social_icons .insta {
  background-image: url("../images/instagram.png");
}
.social_icons .twitter {
  background-image: url("../images/twitter.png");
}
.social_icons .face {
  background-image: url("../images/face.png");
}

.open:before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.container {
  overflow: hidden;
  transition: all 0.35s;
}

.mobile_menu_items_content {
  position: fixed;
  right: 0;
  top: 0;
  width: 80%;
  right: -80%;
  height: 100vh;
  z-index: 100;
  background: #fff;
  -webkit-box-shadow: -2px 0px 5px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -2px 0px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: -2px 0px 5px 2px rgba(0, 0, 0, 0.25);
  transition: all 0.35s;
}
.mobile_menu_items_content img {
  height: 230px;
  width: auto;
  opacity: 0.45;
}
.mobile_menu_items_content i {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.mobile_menu_items_content .content {
  padding: 1rem;
  width: auto;
  height: 100%;
}
.mobile_menu_items_content .content ul {
  padding: 1rem;
}
.mobile_menu_items_content .content ul li {
  padding: 0.5rem;
  margin: 1rem 0;
  border-bottom: 1px solid #e1e1e1;
  list-style: none;
}
.mobile_menu_items_content .content ul li a {
  color: #787878;
}
.mobile_menu_items_content .content ul li a.active {
  color: #cbe346;
}

.shadow {
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.75);
}

.button_light {
  font-family: "HelveticaNeueMedium";
  text-transform: uppercase;
  max-width: 205px;
  font-size: 13px;
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 26.5px;
  border: 1px solid #ffffff;
  color: #fff;
  text-align: center;
  transition: background-color 0.35s ease-in-out;
}
@media (min-width: 768px) {
  .button_light {
    width: 205px;
  }
}
.button_light:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

.button_dark {
  font-family: "HelveticaNeueMedium";
  text-transform: uppercase;
  max-width: 205px;
  font-size: 13px;
  font-weight: bold;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 26.5px;
  border: 1px solid #ffffff;
  color: #fff;
  text-align: center;
  transition: background-color 0.35s ease-in-out;
  color: #282e47;
  border-color: #282e47;
}
.button_dark:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.page_width {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}
@media (min-width: 2000px) {
  .page_width {
    max-width: 1900px;
  }
}
@media (max-width: 1500px) {
  .page_width {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .page_width {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .page_width {
    max-width: 600px;
  }
}

header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}
header .header_content {
  position: relative;
  transition: all 0.5s ease-in-out;
}
header .header_content .logo_nav {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
header .content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  padding-top: 2.5rem;
  max-width: 1550px;
  margin: 0 auto;
}
@media (min-width: 2000px) {
  header .content {
    max-width: 1900px;
  }
}
@media (max-width: 1500px) {
  header .content {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  header .content {
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  header .content {
    max-width: 600px;
  }
}
header .content .mobile_menu_items {
  display: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  header .content {
    width: 30%;
    align-self: flex-end;
    margin-right: 0;
  }
  header .content .mobile_menu_items {
    display: block;
  }
  header .content .mobile_menu_items i {
    color: #fff;
  }
  header .content .mobile_menu_items i:before {
    font-size: 24px;
  }
}
header .content .menu_items {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header .content .menu_items {
    display: none;
  }
}
header .content .menu_items a {
  position: relative;
  color: #fff;
  margin-right: 3rem;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-decoration: none;
  padding: 1rem 0;
  transition: all 0.35s linear;
}
@media (max-width: 1024px) {
  header .content .menu_items a {
    margin-right: 2rem;
  }
}
header .content .menu_items a:hover {
  opacity: 0.5;
}
header .content .menu_items .active {
  position: relative;
}
header .content .menu_items .active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
header .content .switch_languaje {
  display: flex;
}
header .content .switch_languaje p {
  color: #fff;
  margin-right: 1rem;
}

#banner1 {
  position: relative;
}
@media (max-width: 700px) {
  #banner1 {
    height: 100vh;
  }
  #banner1 img {
    width: auto !important;
    height: 100%;
  }
}
#banner1 img {
  width: 100%;
}
#banner1 .container_absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#banner1 .content {
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 709px;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
@media (max-width: 700px) {
  #banner1 .content {
    width: auto;
    padding: 0 2rem;
  }
}
#banner1 .content h1 {
  font-size: 53px;
  line-height: 1.28;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin-bottom: 3rem;
}
@media (max-width: 1024px) {
  #banner1 .content h1 {
    font-size: 40px;
    width: 80%;
  }
}
@media (max-width: 767px) {
  #banner1 .content h1 {
    font-size: 30px;
    width: 100%;
  }
}
#banner1 .content h1 span {
  color: #cbe346;
}

#banner2 {
  background-color: #f3f4f8;
  width: auto;
}
#banner2 .content {
  padding: 2rem;
}
@media (min-width: 768px) {
  #banner2 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
}
#banner2 .content > p {
  align-self: baseline;
  padding: 1rem 0;
  margin: 0 !important;
  text-transform: uppercase;
  color: #cbe346;
}
@media (min-width: 768px) {
  #banner2 .content > p {
    padding: 4rem 2rem;
  }
}
#banner2 .content > div {
  position: relative;
}
#banner2 .info_text h2 {
  font-size: 1.5rem;
  line-height: 1.14;
}
@media (min-width: 500px) {
  #banner2 .info_text h2 {
    font-size: 50px;
    color: #1e2335;
  }
}
#banner2 .info_text div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#banner2 .info_text div p {
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0.5px;
  color: #787878;
}
@media (max-width: 500px) {
  #banner2 .info_text div p {
    font-size: 14px;
  }
}
#banner2 .info_text div .button_dark {
  width: 205px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 53px;
  padding: 0 1.5rem;
  margin: 1.5rem 0;
}
@media (min-width: 1200px) {
  #banner2 .info_text div .button_dark {
    position: absolute;
    right: -278px;
    margin-left: 2rem;
  }
}
#banner2 .info_text div .button_dark img {
  width: 23px;
}

.slide_dots {
  display: flex;
  padding: 1rem 0 !important;
}
.slide_dots li {
  margin-right: 2rem;
  width: 10px;
  height: 10px;
  background-color: #ebebeb;
  border-radius: 50%;
  list-style: none;
}
.slide_dots .active {
  background-color: #cbe346;
}
@media (max-width: 767px) {
  .slide_dots {
    margin: 0 !important;
  }
}

.buttons_control {
  display: flex;
}
.buttons_control a {
  position: relative;
  height: 54px;
  width: 54px;
  margin-right: 1rem;
  border-radius: 50%;
  transition: all 0.35s ease-in-out;
  border: 1px solid #fff;
}
.buttons_control a i {
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.buttons_control a:hover {
  cursor: pointer;
  border-color: #cbe346;
  background-color: #cbe346;
  -webkit-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.38);
}

#banner3 .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#banner3 .slider_content {
  display: flex;
  align-items: center;
  position: relative;
}
@media (min-width: 1024px) {
  #banner3 .slider_content {
    width: 530px;
  }
}
#banner3 .slider_content img {
  width: 100%;
}
#banner3 .slider_content .slider_control {
  width: 60%;
  position: absolute;
  top: 1rem;
  right: 3rem;
}
#banner3 .slider_content .slider_control h2 {
  margin-bottom: 1rem;
  font-size: 50px;
  line-height: 1.28;
  letter-spacing: -0.1px;
  color: #ffffff;
}
#banner3 .slider_content .slider_control h2 span {
  font-family: "HelveticaNeueMedium";
}
#banner3 .slider_content .slider_control p {
  margin-top: 0 !important;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.5px;
  color: #ffffff;
}
@media (max-width: 767px) {
  #banner3 .slider_content .slider_control {
    width: 83%;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  #banner3 .slider_content .slider_control h2 {
    font-size: 1.5rem;
  }
  #banner3 .slider_content .slider_control p {
    font-size: 14px;
  }
}

.content_slider {
  overflow: hidden;
  height: 100%;
}
.content_slider .items {
  transition: all 0.35s ease-in-out;
  width: 400%;
  position: relative;
  display: flex;
}
.content_slider .items .item {
  width: 25%;
}

.slider2 {
  width: 100%;
}
@media (min-width: 1024px) {
  .slider2 {
    width: calc(100% - 530px);
  }
}
.slider2 .items {
  height: 100%;
  align-items: center;
}
.slider2 .items .item {
  width: 8%;
  padding: 1rem;
}
.slider2 .items .item img {
  width: 100%;
}
@media (min-width: 1700px) {
  .slider2 .items .item img {
    width: 80%;
    margin: 0 auto;
  }
}

#banner4 img {
  width: auto;
}
@media (min-width: 1500px) {
  #banner4 img {
    width: 100%;
    height: auto;
  }
}

footer {
  background: #cbe346;
  padding: 1rem;
}
footer .footer {
  width: auto;
  padding: 2rem;
  position: relative;
}
footer .footer img {
  width: 40px;
  height: 40px;
  top: 2rem;
  position: absolute;
  right: 2rem;
}
@media (min-width: 768px) {
  footer .footer img {
    width: 55px;
    height: 55px;
    top: 50%;
    transform: translateY(-50%);
  }
}
footer .menu_items {
  height: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  footer .menu_items {
    display: none;
  }
}
footer .menu_items a {
  position: relative;
  color: #fff;
  margin-right: 3rem;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-decoration: none;
  padding: 1rem 0;
  transition: all 0.35s linear;
}
@media (max-width: 1024px) {
  footer .menu_items a {
    margin-right: 2rem;
  }
}
footer .menu_items a:hover {
  opacity: 0.5;
}
footer .menu_items .active {
  position: relative;
}
footer .menu_items .active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
@media (max-width: 767px) {
  footer .menu_items {
    display: flex;
    flex-wrap: wrap;
  }
  footer .menu_items a {
    width: 100%;
  }
}
footer .menu_items a {
  color: #2b3049;
}

/*# sourceMappingURL=master.css.map */
